_dt_mining
__pycache__
-tmp-

requirements.txt
.vscode/launch.json
.vscode/settings.json

auth_voki.py
jobparser_logs.txt
vacancy.sqlite
vacancy.sqlite-journal

L02/Les_02.py

jobparser_logs.txt
vacancy.sqlite
vacancy.sqlite-journal

L04/.env
L05/.gitignore
L06/.env
images