_dt_mining
__pycache__
-tmp-

requirements.txt
.vscode

auth_voki.py
jobparser_logs.txt
vacancy.sqlite
vacancy.sqlite-journal

L02/Les_02.py

jobparser_logs.txt
vacancy.sqlite
vacancy.sqlite-journal


.env
L05/.gitignore

images
debug.log
